/* RESET PAGE */
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
/*container*/

/*row*/

/*colums*/
